<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lab session 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6EE11EF21CC94FE70002DE35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE11F091CC94FE70002DE35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE11F141CC94FE70002DE35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
